<h1 class="mt-4">Restaurants</h1>
  <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
  <% @restaurants.each do |restaurant|%>
  <li class="list-group-item">  <%= link_to restaurant.name, restaurant_path(restaurant), class:'text-decoration-none' %>  </li>
  <%end %>
  </ul>
</div>
<br>
<%= link_to "Add a new restaurant", new_restaurant_path , class:"btn btn-primary" %>
